<div class="activities_container">
  <div class="your-list">
    <div class="title-list">
      <p>YOUR ACTIVITIES</p>
    </div>
    <div class="act-list">
      <ul>
        <li class="list-item"><input type="checkbox" id="1" class="form-check-input" /><label for="1" class="list-lable">Memasak telor di malam hari</label></li>
        <li class="list-item"><input type="checkbox" id="2" class="form-check-input" /><label for="2" class="list-lable">Jemur baju</label></li>
        <li class="list-item"><input type="checkbox" id="3" class="form-check-input" /><label for="3" class="list-lable">Laprak PTIK Belom selesai</label></li>
        <li class="list-item"><input type="checkbox" id="4" class="form-check-input" /><label for="4" class="list-lable">persaiapan ujian matek</label></li>
        <li class="list-item"><input type="checkbox" id="5" class="form-check-input" /><label for="5" class="list-lable">Memasak telor di malam hari</label></li>
      </ul>
    </div>
  </div>
  <div class="dashboard">
    <div class="dash-top">
      <div class="percentage"></div>
      <div class="rand-act"></div>
    </div>
    <div class="dash-bottom"></div>
  </div>
</div>
