<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style/styles.css" />
    <title>WEB KESEHATAN</title>
  </head>
  <header>
    <nav>
        <ul></ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Berita</a></li>
          <li><a href="#">Kesehatan</a></li>
          <li><a href="#">Tips</a></li>
          <li><a href="#">Konsultasi</a></li>
        </ul>
      </li>
    </nav>
  </header>
  <main class="container"></main>

