<div class="health_facts">
  <div class="fact_container">
    <div class="today_fact">
      <h1>TODAY'S FACT !</h1>
      <p class="fact_title">Air Membentuk Sebagian Besar Tubuh</p>
      <p class="fact_description">Sekitar 60% tubuh manusia terdiri dari air. Air membantu menjaga suhu tubuh, melancarkan pencernaan, dan membawa nutrisi ke seluruh tubuh.</p>
    </div>
    <div class="health_article">
      <p class="publisher">Healthine</p>
      <p class="article_title">The Importance of Staying Hydrated</p>
      <button class="article_button">READ</button>
    </div>
  </div>
  <div class="today_challenge">
    <div class="challenge_desc">
      <p class="title">Today Challenge :</p>
      <p class="challenge">Minum 8 gelas air sepanjang hari ini</p>
    </div>
    <button class="challenge_button">DONE</button>
  </div>
</div>
